<mat-toolbar color="primary">
  <span>  Angular Firebase CRUD</span>
</mat-toolbar>

<div class="container mat-elevation-z8">

 

  <mat-table #table [dataSource]="dataSource"  class="mat-cell">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Employee ID</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.payload.doc.data().id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.payload.doc.data().name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef >Role</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.payload.doc.data().role}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef >Region</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.payload.doc.data().region}}</mat-cell>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
    No results
  </div>


</div>
